.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    padding: 30px 15% 0 12%;
    border-top: 2px solid #edefee;
}

.footer img {
    height:100%;
}

.footer .footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 1%;
}

.footer h6 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20%;
}

.footer .footerLinks {
   display: flex;
   flex-direction: column;
}
.footer .footerLinks a {
    color: black;
    text-decoration: none;
    font-size: 80%;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
}
.footer .footerLinks a:hover {
    text-decoration: underline;
    }

.footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
    padding-top: 5px;
    margin: 0;
}

.footer .footerInfo:last-of-type {
    margin-right: 0;
}

@media only screen and (max-width: 540px) {

    .footer img {
        display: none;
    }
  }

  .footer .footerInfo {
    margin: 0 3%;
}
